<p>
  <%= "Hello" %>,
</p>

<p>
<%= "Thanks for registering on Alerti.com." %> 
<%= "To start using your account you need to activate it first by clicking on the following link:" %> 
</p>

<p>
  <%= "If the above link is not clickable or doesn't open a browser window, copy and paste it into your web browser's location bar." %>
</p>

<p>
  <%= "We look forward to seeing you on alerti.com, so don't forget to activate your account !" %>
</p>